@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --text-dark: #000;
  --text-light: #767268;
  --extra-light: #eef9f8;
  --white: #fff;
  --max-width: 1200px;
  --header-font: 'Playfair Display', serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

ul {
  list-style: none;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  position: relative;
  isolation: isolate;
  width: fit-content;
  margin-inline: auto;
  padding-bottom: 0.5rem;
  font-size: 2.5rem;
  font-weight: 800;
  font-family: var(--header-font);
  color: var(--text-dark);
  text-align: center;
}

.section__header::before {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  height: 2px;
  width: 3rem;
  background-color: var(--text-dark);
}

.btn {
  padding: 1rem 2rem;
  outline: none;
  border: none;
  color: var(--white);
  background-color: var(--text-dark);
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--text-light);
}

nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  z-index: 9;
}

.nav__header {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--extra-light);
}

.nav__logo img {
  max-width: 125px;
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--text-dark);
  cursor: pointer;
}

.nav__links {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background-color: var(--extra-light);
  transition: transform 0.5s;
  z-index: -1;
}

.nav__links.open {
  transform: translateY(100%);
}

.nav__links a {
  font-weight: 500;
  color: var(--text-light);
}

@media screen and (min-width: 768px) {
  nav {
    position: absolute;
    padding: 2rem 1rem;
    max-width: var(--max-width);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  .nav__header {
    flex: 1;
    padding: 0;
    background-color: transparent;
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__links {
    position: static;
    padding: 0;
    width: fit-content;
    flex-direction: row;
    background-color: transparent;
    transform: none !important;
  }

  .nav__links a:hover {
    color: var(--text-dark);
  }
}
